.wrapper{
    margin: 20px 0px 0px 50px;
}

.edit{
    float: right; 
    margin-right: 10px;
    margin-top: 5px;
    
}

.action-btn{
    background-color: rgba(253, 168, 40) ;
    border-radius: 20px;
    color: aliceblue;

}
.action-btn:hover{
    background-color: aliceblue;
    border:1px solid rgba(253, 168, 40);
    color: rgba(253, 168, 40);
}

.fields{
    display: flex
}

.pencil{
    background-image: url('../../../../../assets/pencil.png');
    width: 50px;
    height: 50px;
    border: none;
}

.green-pencil{
    background-image: url('../../../../../assets/green-pencil.png');
    width: 50px;
    height: 50px;
    
}